# Virtual environment
venv/
env/
.env/

# Python
__pycache__/
*.py[cod]
*.so

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Testing / coverage
.tox/
.coverage
.cache
nosetests.xml

# IDE-specific files (optional)
.vscode/
.idea/

# Exclude specific directories
Include/
Lib/
Library/
Scripts/
share/
pyvenv.cfg